
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>admin profile</title>
</head>
<body>
    <div>
        Admin profile
    </div>
    <div>

        @Html.ActionLink("view students", "view_students")
    </div>
    <br />
    <div>

        @Html.ActionLink("add a student", "add_students")
    </div>
    <a href="/exit">خروج</a>
    <br />
</body>
</html>
