
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- CSS only -->
    <link rel="stylesheet" href="~/Assets/css/LoginStyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>ورود</title>
</head>
<body style="background-color: #ccf2f4;">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="login">
                    <img src="~/Assets/img/Login.jpg">
                </div>
            </div>
            <div class="col-sm">
                <form method="post" action="@Url.Action("input_")">
                    <div class="login_form">


                        <input class="form-control" name="username" placeholder="نام کاربری">
                        <input class="form-control" name="password" type="password" placeholder="پسورد ">
                        <button class="btn  btn-primary" type="submit">ورود</button>
                        <p>
                            @ViewBag.error
                        </p>
                    </div>

                </form>
            </div>
            <div class="col-sm">

            </div>
        </div>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>
